<div class="d-flex">

   <div class="container container_flex" >
    <div class="row pt-4 pl-3 pb-4 ">
      <div class="col-sm-6 " *ngFor="let item of userDetails; let i=index;">
        <div class="card myShadow m-4" >
          <div class="card-body">
            <h4>{{i+1}}. {{item.inputName}} </h4>
            <h4>{{item.inputEmail}} </h4> 
            <h4>{{item.inputPhone}}</h4>
            <h4>{{item.inputAddress}}</h4>
          </div>
        </div>
      </div>
    </div>
    </div>

</div>