<div class="home">
    <div class="h1">
      Salient Features Of Nipsol
    </div>
    <br>
    <div class="h2">
      1. It offers a platform independent application for all restaurant food ordering needs.
      <br>
     2. A nipsol certified restaurant is marked as safe to dine by most customers across india.
      <br>
     3. Nipsol Payment System can be Integrated at 0% charges.
      <br>
     4. With QR Based Oredreing and e-Invoice functionality, human intervention is reduced considerably making it a contactless alternative to conventional ordering machanisms.
      <br>
     5. Currently Nipsol has marked its presence in over 50 Restaurants/Cafes across 50 cities witin a span of 8 weeks since its launch.
    </div>
  </div>